<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963251815440-ckpv3b9prdod92n43snd69boid9av1pn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963251815440-ckpv3b9prdod92n43snd69boid9av1pn</string>
	<key>API_KEY</key>
	<string>AIzaSyCJDq0LkMxptJrPGqKNCuwqMjxRMT0oz5o</string>
	<key>GCM_SENDER_ID</key>
	<string>963251815440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>myfirstflutterproject-74fc7</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstflutterproject-74fc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963251815440:ios:04d1cd342521838668f695</string>
</dict>
</plist>